.navigationItem {
  @include ux-disable-text-highlight();
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
  width: 100%;

  &-left {
    @include text-subtitle();
    display: block;
    padding: 0 8px 0 0;
    flex-shrink: 0;
  }

  &-right {
    z-index: 10;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding-right: 0 8px 0 0;
    transition: 220ms $defaultCurve all;
    transition-property: visibility, opacity, transform;
    transform: translate3d(-8px, -8px, 0);
    visibility: hidden;
    opacity: 0;

    &--visible {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      visibility: visible;
    }
  }

  &:hover {
    .navigationItem-title {
      background: lighten($colors-accent, 15%);
    }
  }

  &--chosen {
    .navigationItem-title {
      background: $colors-accent;
    }

    &:hover {
      .navigationItem-title {
        background: $colors-accent;
      }
    }
  }

  &-title {
    @include text-subtitle();
    transition: background-color 200ms $defaultCurve;
    margin-bottom: 3px;
  }

  &-description {
    @include text-subtitle-description();

    a {
      pointer-events: none;
    }
  }
}
