.navigationItem {
  @include ux-disable-text-highlight();
  position: relative;
  cursor: pointer;

  &-left {
    @include ux-disable-text-highlight();
    margin: 0 16px 16px 0;
    flex-shrink: 0;
  }

  &-right {
    box-sizing: border-box;
    position: absolute;
    top: 48px;
    left: -8px;
    background-color: $colors-background;
    padding: 8px;
    width: 180px;
    z-index: 10;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 0 8px 0 0;
    transition: 220ms $defaultCurve all;
    transition-property: visibility, opacity, transform;
    transform: translate3d(-8px, -8px, 0);
    visibility: hidden;
    opacity: 0;
  }

  &--hovered {
    .navigationItem-right {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      visibility: visible;
    }
  }

  &-title {
    @include text-subtitle();
    transition: background-color 200ms $defaultCurve;
    background-color: $colors-background;
    padding: 3px 0 3px 0;
  }

  &-description {
    @include text-subtitle-description();
    padding: 3px 0 3px 0;
    background-color: $colors-background;

    a {
      pointer-events: none;
    }
  }
}
