$colors-border: rgba(222, 222, 222, 1);
$colors-black: rgb(64, 66, 71);
$colors-dark-gray: rgba(133, 133, 133, 1);
$colors-gray: rgba(100, 100, 100, 1);
$colors-accent: #54FF9F; //seafoam
$colors-warning: #FF0000; //red
$colors-background: rgba(255, 255, 255, 1);

$defaultCurve: cubic-bezier(0.25, 0.1, 0.25, 1);

$contentWidth: 680px;
$contentGutters: 40px;
$mobileBreakpoint: "screen and (max-width: 680px)";
