.diagram-column-list {
  margin-top: 48px;

  &-title {
    @include text-small-title();
    display: block;
    padding: 0 0 12px 0;
    margin: 0 0 20px 0;
    box-shadow: 0 1px 0 0 $colors-border;
  }

  &-text {
    font-family: 'INCONSOLATA', monospace;
    @include typescale-tiny();
    padding-right: 8px;
    width: 100%;
    overflow-wrap: break-word;

    &--bold {
      font-weight: 400;
      flex-shrink: 0;
    }

    &--spaced {
      padding-right: 24px;
    }

    &--same {
      visibility: hidden;
    }

    &--static {
      flex-shrink: 0;
    }

    &--last {
      min-width: 25%;
      max-width: $contentWidth;
      padding-right: 0px;
      box-sizing: border-box;
    }
  }

  &-item {
    @include typescale-tiny();
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
