.diagram-column-list {
  margin-top: 48px;

  &-title {
    @include text-subtext();
    display: block;
    padding: 0 0 16px 0;
    margin: 0 0 16px 0;
    box-shadow: 0 1px 0 0 $colors-border;
  }

  &-text {
    @include typescale-smallest();
    @include typography-ui();
    flex-shrink: 0;
    padding-right: 8px;
    width: 100%;
    overflow-wrap: break-word;

    &--bold {
      font-weight: 600;
    }

    &--extendedPadding {
      padding-right: 24px;
    }

    &--same {
      visibility: hidden;
    }

    &--last {
      padding-right: 0px;
      box-sizing: border-box;
      flex-shrink: 1;
      min-width: 25%;
      max-width: none;
    }
  }

  &-item {
    @include typescale-smallest();
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;

    a {
      @include typescale-smallest();
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
