@import 'common/constants.entry.scss';
@import 'common/animations.entry.scss';
@import 'common/mixins.entry.scss';

html,
body,
ul,
ol,
figure,
section,
article,
nav {
  margin: 0;
  padding: 0;
}

html {
  @include typography-regular();
  @include typescale-normal();
  overflow-y: scroll;
  background-color: $colors-background;
}

body {
  color: $colors-black;
}

button,
input,
select {
  background-color: transparent;
  border: 0;
  outline: 0;

  &:focus {
    outline: 0;
    border: 0;
  }
}

h1, h2, h3, h4, p, dfn, small {
  @include typography-normal();
  line-height: 1em;
  margin: 0;
  padding: 0;
}

a {
  @include transition-link();
  text-decoration: underline;
}

p {
  @include typescale-normal();
  line-height: 1.6em;
  margin-top: 16px;
}

h1 {
  @include typescale-large();
  line-height: 1.3em;
  font-weight: 700;
}

h2 {
  @include typescale-medium();
  line-height: 1.3em;
  margin-top: 40px;
  font-weight: 700;
}

h3 {
  @include typescale-medium();
}

h4 {
  @include typescale-medium();
}
