.diagram-stats-table {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  margin: 40px 0 0 0;

  &-item {
    margin: 0 40px 32px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-name {
    @include text-small-title();
    margin-bottom: 8px;
  }

  &-data {
    @include typescale-greatest();
  }
}
