$colors-border: rgba(238, 238, 238, 1);
$colors-black: #222222;
$colors-dark-gray: #595959;
$colors-gray: #767676;

$defaultCurve: cubic-bezier(0.25, 0.1, 0.25, 1);

$mobileBreakpoint: "screen and (max-width: 720px)";
