$colors-border: rgba(222, 222, 222, 1);
$colors-black: #222222;
$colors-dark-gray: rgba(133, 133, 133, 1);
$colors-gray: #767676;
$colors-accent: #54FF9F; //seafoam
$colors-warning: #FF0000; //red
$colors-background: rgba(238, 238, 238, 1);

$defaultCurve: cubic-bezier(0.25, 0.1, 0.25, 1);

$mobileBreakpoint: "screen and (max-width: 720px)";
