.base {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  &-content {
    display: block;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    padding: 0 $contentGutters 128px $contentGutters;
    width: 100%;
    max-width: $contentWidth;
    transition: 280ms $defaultCurve all;
    transition-property: transform, opacity;

    @media #{$mobileBreakpoint} {
      z-index: 1;
      width: auto;
      max-with: none;
    }
  }
}
