.base {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  &-content {
    display: block;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    padding: 0 20px 0px 20px;
    width: 100%;
    max-width: $contentWidth;
    transition: 280ms $defaultCurve all;
    transition-property: transform, opacity;

    @media #{$mobileBreakpoint} {
      z-index: 1;
      width: auto;
      max-width: none;
      padding: 0;
      margin: 0 20px 0 20px;
    }
  }

  &-spacer {
    width: 100%;
    height: 128px;

    @media #{$mobileBreakpoint} {
      height: 48px;
    }
  }
}
